@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  text-transform: uppercase;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
}

.page-header {
  width: 1200px;
  height: 64px;
}

 .navigation {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.page-header-logo {
  position: relative;
  width: 138px;
  padding-left: 70px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  padding-left: 30px;
  list-style: none;
  gap: 20px;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 292px;
  margin-left: auto;
  margin-right: 70px;
  list-style: none;
  gap: 10px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.link-search {
  background-image: url(../images/header-icon/search.svg);
  align-items: center;
  background-size: auto;
  display: block;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #000000;
  padding: 22px 12px;
}

.link-likes {
  background-image: url(../images/header-icon/heart.svg);
  align-items: center;
  background-size: auto;
  display: block;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #000000;
  padding: 22px 12px;
}

.likes-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #7DB54F;
}

.button.button-here {
  border: none;
  width: 160px;
  height: 36px;
  color: #ffffff;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/backgrounds/background-welcome.svg), url(../images/backgrounds/background-welcome.jpg);
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 371px;
  padding-right: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-position: left bottom, left top;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 620px;
  margin-left: 290px;
  margin-right: 290px;
  margin-top: 69px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-header-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 651px;
  margin-left: 274px;
  margin-right: 274px;
  margin-top: 25px;
  margin-bottom: 69px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 400px;
  height: 385px;
  margin: 0;
}

.advantages-dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82B3D3;
}

.advantages-title-dark {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 112px;
  margin-right: 112px;
  margin-top: 102px;
  margin-bottom: 62px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-description-dark {
  font-weight: 400;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: auto;
  margin-bottom: 102px;
  color: #ffffff;
}

.advantages-light {
  background: #83B3D31F;
}

.advantages-title-light {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 112px;
  margin-right: 112px;
  margin-top: 102px;
  margin-bottom: 62px;
  text-transform: uppercase;
}

.advantages-description-light {
  font-weight: 400;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: auto;
  margin-bottom: 102px;
  color: #333333;
}

.advantages-midle {
  background-color: #83B3D333;
}

.advantages-title-midle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 112px;
  margin-right: 112px;
  margin-top: 102px;
  margin-bottom: 62px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description-midle {
  font-weight: 400;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: auto;
  margin-bottom: 102px;
  color: #333333;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 505px;
  margin-left: 347px;
  margin-right: 347px;
  margin-top: 64px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.services-description-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 490px;
  margin-left: 355px;
  margin-right: 355px;
  margin-top: 20px;
  margin-bottom: 64px;
  color: #333333;
  text-align: center;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 385px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #83B3D31F;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 30px;
  margin-bottom: 81px;
  width: 230px;
  height: 121px;
}

.services-icon-housing {
  background-image: url(../images/advantages/advantage-icon-1.svg);
  width: 75px;
  height: 72px;
  margin-left: 162px;
  margin-right: 162px;
  margin-top: 81px;
  margin-bottom: 30px;
  align-items: center;
  background-size: auto, contain;
  display: block;
  background-repeat: no-repeat;
  color: #000000;

}

.services-icon-food {
  background-image: url(../images/advantages/advantage-icon-2.svg);
  width: 75px;
  height: 72px;
  margin-left: 162px;
  margin-right: 162px;
  margin-top: 81px;
  margin-bottom: 30px;
  align-items: center;
  background-size: auto, contain;
  display: block;
  background-repeat: no-repeat;
  color: #000000;
}

.services-icon-souvenirs {
  background-image: url(../images/advantages/advantage-icon-3.svg);
  width: 75px;
  height: 76px;
  margin-left: 162px;
  margin-right: 162px;
  margin-top: 79px;
  margin-bottom: 28px;
  align-items: center;
  background-size: auto, contain;
  display: block;
  background-repeat: no-repeat;
  color: #000000;
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 230px;
  height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  width: 230px;
  height: 63px;
  color: #333333;
}

.services-item-food {
  background-color: #ffffff;
}

.hotel-search {
  height: 406px;
  margin: 0 auto;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-left: 451px;
  margin-right: 451px;
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-left: 304px;
  margin-right: 304px;
  margin-top: 20px;
  margin-bottom: 54px;
  color: #333333;
  text-align: center;
}

.button.button-link {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  margin-left: 412px;
  margin-right: 412px;
  margin-top: 54px;
  margin-bottom: 96px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;

}

.subscription {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/backgrounds/subscribe-background.jpg);
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-container {
  width: 475px;
  height: 109px;
  padding-left: 362px;
  padding-right: 362px;
  padding-top: 96px;
  padding-bottom: 0;
  color: #ffffff;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  width: 684px;
  height: 52px;
  padding-left: 258px;
  padding-right: 258px;
  padding-top: 54px;
  padding-bottom: 104px;
}

.button.field {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  background-color: #F2F2F2;
  text-transform: none;
}

.button.button-subscription {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  left: 452px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  height: 120px;
}

.footer-social {
  width: 142px;
  height: 40px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 142px;
  height: 40px;
  gap: 20px;
  padding: 0;
  margin-left: 70px;
  margin-right: 41px;
  margin-top: 45px;
  margin-bottom: 35px;

}

.footer-social-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-items: center;
  color: #000000;
}

.social-vk {
  background-image: url(../images/social/social-vk.svg);
  width: 24px;
  height: 14px;
  align-items: center;
  background-size: auto, contain;
  display: block;
  background-repeat: no-repeat;
  color: #000000;
}

.social-telegram {
  background-image: url(../images/social/social-telegram.svg);
  width: 18px;
  height: 16px;
  align-items: center;
  background-size: auto, contain;
  display: block;
  background-repeat: no-repeat;
  color: #000000;
}

.social-youtube {
  background-image: url(../images/social/social-youtube.svg);
  width: 22px;
  height: 17px;
  align-items: center;
  background-size: auto, contain;
  display: block;
  background-repeat: no-repeat;
  color: #000000;
}

.footer-contacts {
  text-align: center;
  width: 720px;
  height: 50px;
  margin: auto;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  width: 720px;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.footer-autors-logo {
  width: 115px;
  height: 33px;
  margin: auto;
}

.main-catalog {
  background-image: url(../images/backgrounds/filtr-background.jpg);
  background-color: inherit;
  color: #f2f2f2;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  width: 495px;
  height: 78px;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  padding-left: 70px;
  padding-right: 635px;
  color: #ffffff;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 114px;
  height: 21px;
  align-items: center;
  list-style: none;
  margin-left: 70px;
  margin-right: 1016px;
  margin-top: 8px;
  margin-bottom: 40px;
  padding-inline-start: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-icon.icon-house {
  background-image: url(../images/vector-home.svg);
  width: 12px;
  height: 12px;
  align-items: center;
  background-size: auto, contain;
  background-repeat: no-repeat;
  color: #ffffff;
}

.breadcrumbs.icon-more {
  background-image: url(../images/breadcrumbs.svg);
  width: 7px;
  height: 10px;
  align-items: center;
  background-size: auto, contain;
  background-repeat: no-repeat;
  color: #ffffff;
}

.breadcrumbs-link-current {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  width: 73px;
  height: 21px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  height: 307px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 157px;
  padding-top: 40px;
  padding-bottom: 73px;
  padding-left: 70px;
  padding-right: 0;
  border: none;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}


.catalog-filter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  height: 157px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  list-style: none;
  gap: 16px;
  padding-inline-start: 0;
}

.catalog-filter-group.group-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 160px;
  padding-top: 40px;
  padding-bottom: 36px;
  padding-left: 140px;
  padding-right: 70px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  list-style: none;
}

.control-input-range {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 288px;
  height: 20px;
  border: none;
}

.control-input-min {
  display: flex;
  flex-direction: row;
  width: 144px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 4px 0 0 4px;
  padding-right: 2px;
  background-color: transparent;
}

.control-input-max {
  display: flex;
  flex-direction: row;
  width: 144px;
  height: 48px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  border-radius: 0 4px 4px 0;
  padding-left: 2px;
  background-color: transparent;
}

.filter-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 191px;
  height: 104px;
  padding-top: 96px;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.button.button-apply {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 191px;
  height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  padding-bottom: 32px;
  border: none;

}

.button.button-reset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 191px;
  height: 36px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
}

.catalog-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  height: 36px;
  margin-left: 70px;
  margin-right: 200px;
  margin-top: 56px;
  margin-bottom: 46px;
  text-transform: uppercase;
}

.select-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration-color: #333333;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  gap: 94px;
  width: 264px;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 40px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px;
  gap: 10px;
  height: 48px;
  text-decoration: none;
  color: #000000;
}

.button-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../images/view-catalog/view-pictures-1.svg);
  width: 16px;
  height: 14px;
  margin-left: 70px;
  margin-right: 8px;
  margin-top: 50px;
  margin-bottom: 41px;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 4px;
  background-size: auto, contain;
  background-repeat: no-repeat;
  color: #ffffff;

}

.button-alone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../images/view-catalog/view-pictures-2.svg);
  width: 16px;
  height: 14px;
  margin-right: 8px;
  margin-top: 50px;
  margin-bottom: 41px;
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-size: auto, contain;
  background-repeat: no-repeat;
  color: #ffffff;
}

.button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../images/view-catalog/view-pictures-3.svg);
  width: 16px;
  height: 14px;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 41px;
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-size: auto, contain;
  background-repeat: no-repeat;
  color: #ffffff;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 70px;
  gap: 16px;
  padding-inline-start: 0;
}

.product-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.product-card-link {
  padding: 20px 20px 16px 20px;
}

.product-card-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  margin: 0 20px;
  color: #000000;
  text-decoration: none;
}

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 20px;
}

.container-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  width: 300px;
}

.container-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 16px 20px;
  gap: 20px;
  width: 300px;
}


.card-description {
  width: 140px;
  height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}


.card-price {
  width: 140px;
  height: 21px;
  text-align: right;
  font-weight: 400;
  color: #333333;
}

.button.button-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 140px;
  height: 36px;
  padding: 8px 26px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button.button-favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 140px;
  min-height: 36px;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.button.button-favorites-likes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 140px;
  min-height: 36px;
  padding: 8px 18px;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
}

.button.button-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 400;
  max-width: 140px;
  gap: 20px;
  min-height: 37px;
  padding: 9px 22px 8px 23px;
  color: #333333;
  background-color: #f2f2f2;
  text-decoration: none;
}

.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  gap: 6px;
  align-self: stretch;
  background-image: url(../images/vector-stars.svg);
  background-repeat: repeat-x;
}

.stars.four-stars  {
  width: 72px;
  height: 37px;
}

.stars.three-stars  {
  width: 54px;
  height: 37px;
}

.stars.two-stars  {
  width: 36px;
  height: 37px;
}

.pagination-link-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 80px 70px 60px 70px;
  gap: 8px;
  padding-inline-start: 0;

}

.pagination-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link-current {
  color: inherit;
  background-color: #F2F2F2;
}

.pagination-more {
  color: inherit;
  background-color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}

.subscription-container.subscription-container-catalog {
  text-align: center;
  color: #000000;
}
